/*滚动条整体样式*/
/*高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #4954e6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4954e6;
}

/*滚动条里面轨道*/
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
}

.has-active>.item>.text {
  color: var(--vp-c-indigo-1) !important;
}

.VPSidebarItem>.item>.text {
  font-size: 16px;
}

.content-container {
  max-width: 1000px !important;
}

:root {
  --vp-c-indigo-1: #4954e6;
  --vp-layout-max-width: 100%;
}

header {
  background-color: #fff9;
}

.dark {
  header {
    background-color: #22272e99;
  }
}


#VPContent.is-home {
  background: url(/bg.svg) center center / cover no-repeat
}

.VPHome {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);

  .container {
    justify-content: center;
  }

  .image {
    max-width: 240px;
  }

  .VPImage {
    width: 240px;
  }
}

.hl-button {
  text-decoration: none !important;
}

.hl-table table {
  margin: 0 !important;
  display: table;
}

.hl-table table th,
.hl-table table td,
.hl-table table tbody tr,
.hl-table table thead tr {
  border-top: 0 !important;
  border-left: 0 !important;
}

.el-dialog {
  padding: 0 !important;
}

html {
  --color-primary: #409eff;
}

.dark {

  .search-area,
  .table-body {
    background-color: transparent !important;
  }

  .hl-pagination-wrapper .info{
    color: white;
  }
}